{% extends 'base.html' %}


{% block content %}

<main class="single-project">
    <div class="row">
        <div class="col-md-2">
            {% include 'layouts/admin-navbar.html' %}
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                {% load static %}
                <div class="responsive-menu d-md-none mt-3">
                    <div class="row">
                        <div class="col-6">
                            <div class="logo">
                                <img src="{% static 'images/linha-dark.png' %}" class="logo" alt="logo">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mobile-hamburger text-right">
                                <i class="fa fa-bars fa-2x icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h2 class="page-title">{{project.name}}</h2>
                    <hr>
                </div>
                <div class="body">
                    <div class="project my-3">
                        <div class="description">
                            <article>
                                <p>
                                    {{project.description}}
                                </p>
                            </article>
                        </div>
                    </div>

                    <div class="sections">
                        <h4 class="mt-5 sections-heading">
                            Sections
                        </h4>
                        {% if 'full_permission' in perms %}
                        <a href="{% url 'schedule:create_section' project.id %}" class="btn create-btn my-4">Create
                            Section</a>
                        {% endif %}
                        {% if project.section_set.all %}

                        <div class="row">

                            {% for section in project.section_set.all %}
                            <div class="col-md-3 my-2">
                                <div class="bg-white card shadow-sm py-3 px-3">
                                    <a href="#">
                                        <h3 class="project-name">
                                            {{section.name}}
                                        </h3>
                                    </a>
                                    <div class="mt-4 description">
                                        <article>
                                            <p>{{section.description}}</p>
                                        </article>
                                    </div>
                                    <div class="footer mt-4 position-relative">
                                        <a href="{% url 'schedule:section' section.id %}" class="btn see-projects">Go to
                                            section <i class="fa fa-long-arrow-right ml-3"></i></a>
                                        <span class="d-inline-block position-absolute users">
                                            <i class="fa fa-user-o"></i> {{section.users.count}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        {% else %}
                        <div class="nothing-to-display">
                            <h3 class="nothing">
                                Nothing to show
                            </h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}